---
title: Gabinet Logopedyczny Pszczółka w Krakowie
redirect_url: "/gabinet-logopedyczny-pszczolka-w-krakowie"
redirect_type: 301
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/content: "<h2>O \"Pszcz&oacute;łce\"</h2>\r\n<p>Misją <strong>Gabinetu logopedycznego
    \"Pszcz&oacute;łka\"</strong> jest <strong>gruntowna diagnoza</strong> (na kt&oacute;rą
    składa się badanie wszystkich funkcji psychicznych, fizycznych i ocena rozwoju
    mowy dziecka) oraz <strong>efektywna indywidualna terapia</strong>.</p>\r\n<p>Gabinet
    logopedyczny \"Pszcz&oacute;łka\" obejmuje opieką&nbsp;już <strong>kilkumiesięczne
    niemowlęta</strong>, gdyż <strong>wczesna interwencja logopedyczna</strong> daje
    dziecku szansę na prawidłowy rozw&oacute;j.</p>\r\n<p><strong>Stymulacji </strong>takiej
    powinny zostać poddane dzieci, u kt&oacute;rych zauważa się brak pewnych <strong>zachowań
    komunikacyjnych</strong> (m.in.: brak kontaktu wzrokowego, niepodążanie wzrokiem
    za bliskimi, brak gaworzenia).</p>\r\n<p>U dzieci starszych prowadzona jest <strong>terapia
    wad wymowy</strong>, takich jak: <strong>niezakończony rozw&oacute;j mowy</strong>,
    <strong>op&oacute;źniony rozw&oacute;j mowy</strong>, <strong>seplenienie</strong>,
    <strong>kapacyzm</strong>,<strong> reranie</strong>.</p>\r\n<p>W zakresie działalności
    <strong>Gabinetu logopedycznego \"Pszcz&oacute;łka\"</strong> leży także <a href=\"/dysleksja\"><strong>profilaktyka
    i terapia dysleksji</strong></a>, diagnozowanie w kierunku <strong>zagrożenia
    dysleksją</strong>, a także <strong>terapia zaburzeń mowy i komunikacji</strong>
    o typie <a href=\"/zaburzenia-komunikacji-jezykowej\"><strong>afazji</strong>,
    <strong> alalii </strong>i <strong>autyzmu</strong></a>.</p>\r\n<p>Terapia prowadzona
    jest <strong>Metodą Krakowską</strong>, kt&oacute;rej integralną częścią jest
    <a href=\"/nauka-czytania\"><strong>nauka czytania</strong></a> <strong>metodą
    symultaniczno-sekwencyjną</strong> autorstwa <strong>prof. Jagody Cieszyńskiej</strong>.</p>"
---
<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class='no-js lt-ie9 lt-ie8 lt-ie7'></html>
<![endif]-->
<!--[if IE 7]>
  <html class='no-js lt-ie9 lt-ie8'></html>
<![endif]-->
<!--[if IE 8]>
  <html class='no-js lt-ie9'></html>
<![endif]-->
<!--[if gt IE 8]>
  <html class='no-js'></html>
<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>
    {{ page.title }}
  </title>
  <meta content='' name='description'>
  <meta content='width=device-width' name='viewport'>
  
  <!-- fav icons are served directly from github pages -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=Ryy2zRR6lJ">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=Ryy2zRR6lJ">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=Ryy2zRR6lJ" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png?v=Ryy2zRR6lJ" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v=Ryy2zRR6lJ" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=Ryy2zRR6lJ" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=Ryy2zRR6lJ" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=Ryy2zRR6lJ">
  <link rel="shortcut icon" href="/favicon.ico?v=Ryy2zRR6lJ">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=Ryy2zRR6lJ">
  <meta name="theme-color" content="#ffffff">

  <!-- / {{ "normalize.css" | stylesheet_tag }} -->
  {{ "bootstrap.css" | stylesheet_tag }}
  {{ "bootstrap-theme.css" | stylesheet_tag }}
  {{ "jquery.mCustomScrollbar.css" | stylesheet_tag }}
  {{ "main.css" | stylesheet_tag }}
  {{ "layout.css" | stylesheet_tag }}
  {{ "vendor/modernizr-2.6.2.min.js" | javascript_tag  }}
  {{ "vendor/jquery-1.11.3.min.js" | javascript_tag  }}
  {{ "vendor/bootstrap.js" | javascript_tag  }}
  {{ "vendor/jquery.mousewheel.js" | javascript_tag  }}
  {{ "vendor/jquery.mCustomScrollbar.js" | javascript_tag  }}
  {{ "plugins.js" | javascript_tag  }}
  {{ "main.js" | javascript_tag  }}
  {% inline_editor %}
</head>
<body>
  <table id='floater'>
    <tr>
      <td>
        <div id='main-frame'>
          <div id='navigation'>
            <nav class="navbar navbar-fixed-top navbar-inverse visible-xs">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Logopeda Pszczółka</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                  <ul class="nav navbar-nav">
                    {% nav site, bootstrap: true, no_wrapper: true, active_class: 'active' %}
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
            <div id='content'>
              {% block main %}
              {% editable_text 'content' %}
              <h2>
                O Pszczółce
              </h2>
              <p>
                Misją <strong>Gabinetu Logopedycznego Pszczółka</strong> jest <strong>gruntowna diagnoza</strong>
                (na którą składa się badanie wszystkich funkcji psychicznych, fizycznych i ocena rozwoju mowy dziecka)
                oraz <strong>efektywna indywidualna terapia</strong>.
              </p>
              <p>
                Gabinet Logopedyczny Pszczółka opieką obejmuje już <strong>kilkumiesięczne niemowlęta</strong>,
                gdyż <strong>wczesna interwencja logopedyczna</strong> daje dziecku szansę na prawidłowy rozwój.
              </p>
              <p>
                <strong>Stymulacji </strong>takiej powinny zostać poddane dzieci, u których zauważa się brak
                pewnych <strong>zachowań komunikacyjnych</strong> (m.in.: brak kontaktu wzrokowego, niepodążanie
                wzrokiem za bliskimi, brak gaworzenia).
              </p>
              <p>
                U dzieci starszych prowadzona jest <strong>terapia wad wymowy</strong>, takich jak:
                <strong>niezakończony rozwój mowy</strong>, <strong>opóźniony rozwój mowy</strong>,
                <strong>seplenienie</strong>, <strong>kapacyzm</strong>,<strong> reranie</strong>.
              </p>
              <p>
                W zakresie działalności <strong>Gabinetu Logopedycznego Pszczółka</strong> leży także
                <a href="/dyslektyk-profilaktyka/_edit"><strong>profilaktyka i terapia dysleksji</strong></a>,
                diagnozowanie w kierunku <strong>zagrożenia dysleksją</strong>, a także <strong>terapia zaburzeń
                mowy i komunikacji</strong> o typie <a href="/afazja-alalia-autyzm/_edit"><strong>afazji</strong>,
                <strong> alalii </strong>i <strong>autyzmu</strong></a>.
              </p>
              <p>
                Terapia prowadzona jest <strong>Metodą Krakowską</strong> i opiera się na
                <a href="/metoda-sylabowa"><strong>nauce czytania </strong></a><strong>metodą
                symultaniczno-sekwencyjną</strong> autorstwa <strong>prof. Jagody Cieszyńskiej</strong>.
              </p>
              {% endeditable_text %}
              {% endblock %}
              <div class="spacer"></div>
              <div class="panel panel-default visible-xs">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                  {% nav site, bootstrap: true, no_wrapper: true, active_class: 'active' %}
                </ul>
                </div>
              </div>
            </div>
          <div class="hidden-xs">
            <h1>
              Gabinet Logopedyczny "Pszczółka"
            </h1>
            <div id='bee'></div>
            <div class='leaves' id='leaves-lb'></div>
            <div class='leaves' id='leaves-rb'></div>
            <a class='flower' href='nauka-czytania' id='flower-01'>
              <p>NAUKA CZYTANIA</p>
            </a>
            <a class='flower' href='zaburzenia-komunikacji-jezykowej' id='flower-02'>
              <p>ZABURZENIA KOMUNIKACJI</p>
            </a>
            <a class='flower' href='dysleksja' id='flower-03'>
              <p>DYSLEKSJA</p>
            </a>
            <a class='flower' href='terapeuci' id='flower-04'>
              <p>TERAPEUCI</p>
            </a>
            <a class='flower' href='/' id='flower-05'>
              <p>O PSZCZÓŁCE</p>
            </a>
            <a class='flower' href='wady-wymowy' id='flower-06'>
              <p>WADY WYMOWY</p>
            </a>
            <a class='flower' href='kontakt-cennik' id='flower-07'>
              <p>KONTAKT<br>I<br>CENNIK</p>
            </a>
            <!-- / %a#leave-01.leave{href: "galeria"} -->
            <!-- /  %p Galeria -->
            <a class='leave' href='pomoce-gry-zabawy' id='leave-02'>
              <p>Pomoce, gry i zabawy do pobrania</p>
            </a>
            <a class='leave' href='logopeda-radzi' id='leave-03'>
              <p>Logopeda radzi</p>
            </a>
            <a class='leave' href='zadaj-pytanie' id='leave-04'>
              <p>Zadaj pytanie</p>
            </a>
            <a class='leave' href='partnerzy' id='leave-05'>
              <p>Partnerzy</p>
            </a>
            <div id='caterpillar'></div>
            <div id='ladybug'></div>
          </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;extension=.js&amp;output=embed"></script>
  <script>
    bindFlowers();
  </script>
  {% google_analytics 'UA-19446871-2' %}
</body>
