---
title: Logopeda radzi
slug: logopeda-radzi
listed: true
published: true
cache_strategy: simple
response_type: text/html
position: 107
---
{% extends 'parent' %}

{% block main %}

<h2>{{ page.title }}</h2>

{% for question in contents.questions %}
    <blockquote class="question">
        {{ question.question }}
        <footer>{{ question.customer }}</footer>
    </blockquote>

    <blockquote class="answer">
        {{ question.answer }}
        <footer>{{ question.staff }}</footer>
    </blockquote>
{% endfor %}

{% endblock %}