---
title: Partnerzy
slug: partnerzy
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 8
---
{% extends 'parent' %}

{% block main %}

<h2>{{ page.title }}</h2>

{% for partner in contents.partners %}
  <a href="{{ partner.link }}>" class="partner">
    <div class="row top-buffer">
      <div class="col-md-4">
        <img src="{{ partner.image.url }}" alt="{{ partner.title }}" class="img-thumbnail">
      </div>
      <div class="col-md-8">
          <h4>{{ partner.title }}</h4>
          {{ partner.description }}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}