---
title: Terapeuci
slug: terapeuci
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 2
seo_title: Terapeuci w Gabinecie Logopedycznym Pszczółka w Krakowie
---
{% extends 'parent' %}

{% block main %}

<h2>{{ page.title }}</h2>

{% for employee in contents.employees %}
    {% assign imod2 = forloop.index | modulo: 2 %}
    <div class="row top-buffer">
      {% if imod2 == 1 %}
      <div class="col-md-4 hidden-xs hidden-sm">
        <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" class="img-thumbnail">
      </div>
      {% endif %}
      <div class="col-md-8">
          <div class="text-center hidden-md hidden-lg">
            <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" class="img-thumbnail img-small">
          </div>

          <h3>{{ employee.name }}</h3>

          {{ employee.description }}
      </div>
      {% if imod2 == 0 %}
      <div class="col-md-4 hidden-xs hidden-sm">
        <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" class="img-thumbnail">
      </div>
      {% endif %}
    </div>
{% endfor %}

{% endblock %}